@media only screen and (min-width: 0px) and (max-width: 260px) {
    
    /* Indisponibilidade */
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    body > *:not(#indisponivel) {
        display: none;
    }
    
    
    #indisponivel {
        display: block;
    }
}

@media only screen and (min-width: 260px) and (max-width: 800px) {

    /* Indisponibilidade */
    #indisponivel {
        display: none;
    }

    /* Header */
    header {
        padding: 10px 35px;
    }

    #navPC {
        display: none;
    }

    #menuResp {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Hero Section */

    #heroSection {
        padding: 50px 40px;
    }
    
    #heroText h1 {
        font-size: 45px;
        line-height: 50px;
    }

    #heroImg {
        display:none;
    }

    /* Propósito */

    #proposito {
        padding: 50px 40px;
        text-align: center;
    }

    #propContent {
        flex-direction: column;
        gap: 0px;
    }

    #propTitle {
        font-size: 30px;
    }

    #propDesc, #propText, #propImg, #processoInfo {
        display: none;
    }

    /* Funcionamento */

    #funcDesc {
        display: none;
    }

    #funcTitle {
        font-size: 30px;
    }

    #funcionamento {
        padding: 50px 40px;
        text-align: center;
    }

    #funcOpts {
        display: none;
    }

    #funcOptsResp {
        display: flex;
    }

    #funcInfo {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        max-width: 100%;
    }
    
    #funcImg {
        max-width: 100%;
        order: 1
    }
    
    #funcText {
        font-size: 14px;
    }
}

@media only screen and (min-width: 801px) and (max-width: 1100px) {

    /* Indisponibilidade */
    #indisponivel {
        display: none;
    }

    /* Header */
    header {
        padding: 10px 35px;
    }

    #navPC {
        display: none;
    }

    #menuResp {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Hero Section */

    #heroSection {
        padding: 50px 40px;
    }
    
    #heroText h1 {
        font-size: 45px;
        line-height: 50px;
    }

    #heroImg {
        display:none;
    }

    /* Propósito */

    #proposito {
        padding: 50px 40px;
        text-align: center;
    }

    #propContent {
        flex-direction: column;
        gap: 0px;
    }

    #propTitle {
        font-size: 30px;
    }

    #propDesc, #propText, #propImg, #processoInfo {
        display: none;
    }

    /* Funcionamento */

    #funcDesc, #funcOptsResp {
        display: none;
    }

    #funcTitle {
        font-size: 30px;
    }

    #funcionamento {
        padding: 50px 40px;
        text-align: center;
    }

    .option {
        font-size: 14px;
    }

    #funcInfo {
        gap: 25px;
        padding: 25px;
        max-width: 1000px;
    }
    
    #funcImg {
        max-width: 350px;
    }
    
    #funcText {
        font-size: 15px;
    }
}

@media only screen and (min-width: 1101px) and (max-width: 1920px) {

    /* Menu e Indisponibilidade */
    #menu, #indisponivel {
        display: none;
    }

    /* Header */
    header {
        padding: 10px 75px;
    }

    /* Hero Section */
    #heroSection {
        padding: 50px 0px 50px 80px;
    }

    #heroText h1 {
        font-size: 60px;
        line-height: 60px;
    }

    /* Propósito */

    #propTextResp, #propLerMais {
        display: none;
    }

    #proposito {
        padding: 50px 80px;
    }

    #propTitle {
        font-size: 40px;
    }

    #propText {
        font-size: 18px;
    }

    /* Funcionamento */

    #funcTitle {
        font-size: 40px;
    }

    #funcionamento {
        padding: 50px 80px;
    }

    .option {
        font-size: 17px;
    }

    #funcOptsResp {
        display: none;
    }

    #funcInfo {
        gap: 35px;
        padding: 35px;
        max-width: 1300px;
    }
    
    #funcImg {
        max-width: 400px;
    }
    
    #funcText {
        font-size: 17px;
    }
}

@media only screen and (min-width: 1921px) {

    /* Menu e Indiponibilidade */
    #menu, #indisponivel {
        display: none;
    }

    /* Header */
    header {
        padding: 10px 75px;
    }
    
    /* Hero Section */
    #heroSection {
        padding: 50px 0px 50px 80px;
    }

    #heroText h1 {
        font-size: 80px;
        line-height: 95px;
    }

    #heroText p {
        font-size: 20px;
    }

    #heroText button {
        width: 200px;
        height: 65px;
        font-size: 21px;
    }

    #heroText button i {
        font-size: 26px;
    }

    /* Propósito */

    #propTextResp, #propLerMais {
        display: none;
    }

    #proposito {
        padding: 50px 80px;
    }

    #propTitle {
        font-size: 40px;
    }

    #propText {
        font-size: 24px;
        line-height: 30px;
    }

    #propImg {
        width: 45%;
    }

    /* Funcionamento */

    #funcTitle {
        font-size: 40px;
    }

    #funcionamento {
        padding: 50px 80px;
    }

    .option {
        font-size: 17px;
    }

    #funcOptsResp {
        display: none;
    }

    #funcInfo {
        gap: 50px;
        padding: 50px;
        max-width: 1600px;
    }
    
    #funcImg {
        max-width: 600px;
    }
    
    #funcText {
        font-size: 22px;
        line-height: 1.7;
    }
}